{
  "swagger": "2.0",
  "info": {
    "version": "2.1",
    "title": "Magento Enterprise"
  },
  "host": "ee.demo.wearejh.com",
  "basePath": "/rest/default",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "storeStoreRepositoryV1",
      "description": "Store repository interface"
    },
    {
      "name": "storeGroupRepositoryV1",
      "description": "Group repository interface"
    },
    {
      "name": "storeWebsiteRepositoryV1",
      "description": "Website repository interface"
    },
    {
      "name": "storeStoreConfigManagerV1",
      "description": "Store config manager interface"
    },
    {
      "name": "directoryCurrencyInformationAcquirerV1",
      "description": "Currency information acquirer interface"
    },
    {
      "name": "directoryCountryInformationAcquirerV1",
      "description": "Country information acquirer interface"
    },
    {
      "name": "customerAccountManagementV1",
      "description": "Interface for managing customers accounts."
    },
    {
      "name": "cmsPageRepositoryV1",
      "description": "CMS page CRUD interface."
    },
    {
      "name": "cmsBlockRepositoryV1",
      "description": "CMS block CRUD interface."
    },
    {
      "name": "catalogProductRepositoryV1",
      "description": ""
    },
    {
      "name": "catalogProductAttributeRepositoryV1",
      "description": "Interface RepositoryInterface must be implemented in new model"
    },
    {
      "name": "catalogProductTypeListV1",
      "description": ""
    },
    {
      "name": "catalogAttributeSetRepositoryV1",
      "description": ""
    },
    {
      "name": "catalogProductAttributeManagementV1",
      "description": ""
    },
    {
      "name": "catalogProductAttributeGroupRepositoryV1",
      "description": ""
    },
    {
      "name": "catalogProductAttributeOptionManagementV1",
      "description": ""
    },
    {
      "name": "catalogProductMediaAttributeManagementV1",
      "description": ""
    },
    {
      "name": "catalogProductAttributeMediaGalleryManagementV1",
      "description": ""
    },
    {
      "name": "catalogProductTierPriceManagementV1",
      "description": ""
    },
    {
      "name": "catalogCategoryRepositoryV1",
      "description": ""
    },
    {
      "name": "catalogCategoryManagementV1",
      "description": ""
    },
    {
      "name": "catalogProductCustomOptionRepositoryV1",
      "description": ""
    },
    {
      "name": "catalogProductLinkTypeListV1",
      "description": ""
    },
    {
      "name": "catalogProductLinkManagementV1",
      "description": ""
    },
    {
      "name": "catalogCategoryLinkManagementV1",
      "description": ""
    },
    {
      "name": "catalogInventoryStockRegistryV1",
      "description": "Interface StockRegistryInterface"
    },
    {
      "name": "searchV1",
      "description": "Search API for all requests"
    },
    {
      "name": "quoteGuestCartRepositoryV1",
      "description": "Cart Repository interface for guest carts."
    },
    {
      "name": "quoteGuestCartManagementV1",
      "description": "Cart Management interface for guest carts."
    },
    {
      "name": "quoteGuestShippingMethodManagementV1",
      "description": "Shipping method management interface for guest carts."
    },
    {
      "name": "quoteGuestShipmentEstimationV1",
      "description": "Interface GuestShipmentEstimationInterface"
    },
    {
      "name": "quoteGuestCartItemRepositoryV1",
      "description": "Cart Item repository interface for guest carts."
    },
    {
      "name": "quoteGuestPaymentMethodManagementV1",
      "description": "Payment method management interface for guest carts."
    },
    {
      "name": "quoteGuestBillingAddressManagementV1",
      "description": "Billing address management interface for guest carts."
    },
    {
      "name": "quoteGuestCouponManagementV1",
      "description": "Coupon management interface for guest carts."
    },
    {
      "name": "quoteGuestCartTotalManagementV1",
      "description": "Bundled API to collect totals for cart based on shipping/payment methods and additional data."
    },
    {
      "name": "quoteGuestCartTotalRepositoryV1",
      "description": "Cart totals repository interface for guest carts."
    },
    {
      "name": "checkoutGuestShippingInformationManagementV1",
      "description": "Interface for managing guest shipping address information"
    },
    {
      "name": "checkoutGuestTotalsInformationManagementV1",
      "description": "Interface for guest quote totals calculation"
    },
    {
      "name": "checkoutGuestPaymentInformationManagementV1",
      "description": "Interface for managing guest payment information"
    },
    {
      "name": "configurableProductLinkManagementV1",
      "description": "Manage children products of configurable product"
    },
    {
      "name": "configurableProductOptionRepositoryV1",
      "description": "Manage options of configurable product"
    },
    {
      "name": "giftCardAccountGuestGiftCardAccountManagementV1",
      "description": "Interface GuestGiftCardAccountManagementInterface"
    },
    {
      "name": "giftRegistryGuestCartShippingMethodManagementV1",
      "description": "Interface ShippingMethodManagementInterface"
    },
    {
      "name": "giftMessageGuestCartRepositoryV1",
      "description": "Interface GuestCartRepositoryInterface"
    },
    {
      "name": "giftMessageGuestItemRepositoryV1",
      "description": "Interface GuestItemRepositoryInterface"
    },
    {
      "name": "integrationAdminTokenServiceV1",
      "description": "Interface providing token generation for Admins"
    },
    {
      "name": "integrationCustomerTokenServiceV1",
      "description": "Interface providing token generation for Customers"
    },
    {
      "name": "worldpayGuestPaymentInformationManagementProxyV1",
      "description": "Interface GuestPaymentInformationManagementProxyInterface"
    }
  ],
  "paths": {
    "/V1/store/storeViews": {
      "get": {
        "tags": [
          "storeStoreRepositoryV1"
        ],
        "description": "Retrieve list of all stores",
        "operationId": "storeStoreRepositoryV1GetListGet",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/store-data-store-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/store/storeGroups": {
      "get": {
        "tags": [
          "storeGroupRepositoryV1"
        ],
        "description": "Retrieve list of all groups",
        "operationId": "storeGroupRepositoryV1GetListGet",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/store-data-group-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/store/websites": {
      "get": {
        "tags": [
          "storeWebsiteRepositoryV1"
        ],
        "description": "Retrieve list of all websites",
        "operationId": "storeWebsiteRepositoryV1GetListGet",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/store-data-website-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/store/storeConfigs": {
      "get": {
        "tags": [
          "storeStoreConfigManagerV1"
        ],
        "description": "",
        "operationId": "storeStoreConfigManagerV1GetStoreConfigsGet",
        "parameters": [
          {
            "name": "storeCodes",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/store-data-store-config-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/directory/currency": {
      "get": {
        "tags": [
          "directoryCurrencyInformationAcquirerV1"
        ],
        "description": "Get currency information for the store.",
        "operationId": "directoryCurrencyInformationAcquirerV1GetCurrencyInfoGet",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/directory-data-currency-information-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/directory/countries": {
      "get": {
        "tags": [
          "directoryCountryInformationAcquirerV1"
        ],
        "description": "Get all countries and regions information for the store.",
        "operationId": "directoryCountryInformationAcquirerV1GetCountriesInfoGet",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/directory-data-country-information-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/directory/countries/{countryId}": {
      "get": {
        "tags": [
          "directoryCountryInformationAcquirerV1"
        ],
        "description": "Get country and region information for the store.",
        "operationId": "directoryCountryInformationAcquirerV1GetCountryInfoGet",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/directory-data-country-information-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/customers": {
      "post": {
        "tags": [
          "customerAccountManagementV1"
        ],
        "description": "Create customer account. Perform necessary business operations like sending email.",
        "operationId": "customerAccountManagementV1CreateAccountPost",
        "parameters": [
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "customer"
              ],
              "properties": {
                "customer": {
                  "$ref": "#/definitions/customer-data-customer-interface"
                },
                "password": {
                  "type": "string"
                },
                "redirectUrl": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/customer-data-customer-interface"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}": {
      "get": {
        "tags": [
          "customerAccountManagementV1"
        ],
        "description": "Check if password reset token is valid.",
        "operationId": "customerAccountManagementV1ValidateResetPasswordLinkTokenGet",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "resetPasswordLinkToken",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean",
              "description": "True if the token is valid"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/customers/password": {
      "put": {
        "tags": [
          "customerAccountManagementV1"
        ],
        "description": "Send an email to the customer with a password reset link.",
        "operationId": "customerAccountManagementV1InitiatePasswordResetPut",
        "parameters": [
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "email",
                "template"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "template": {
                  "type": "string"
                },
                "websiteId": {
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean",
              "description": "true on success"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/customers/isEmailAvailable": {
      "post": {
        "tags": [
          "customerAccountManagementV1"
        ],
        "description": "Check if given email is associated with a customer account in given website.",
        "operationId": "customerAccountManagementV1IsEmailAvailablePost",
        "parameters": [
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "customerEmail"
              ],
              "properties": {
                "customerEmail": {
                  "type": "string"
                },
                "websiteId": {
                  "type": "integer",
                  "description": "If not set, will use the current websiteId"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/cmsPage/{pageId}": {
      "get": {
        "tags": [
          "cmsPageRepositoryV1"
        ],
        "description": "Retrieve page.",
        "operationId": "cmsPageRepositoryV1GetByIdGet",
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/cms-data-page-interface"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/cmsBlock/{blockId}": {
      "get": {
        "tags": [
          "cmsBlockRepositoryV1"
        ],
        "description": "Retrieve block.",
        "operationId": "cmsBlockRepositoryV1GetByIdGet",
        "parameters": [
          {
            "name": "blockId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/cms-data-block-interface"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products": {
      "get": {
        "tags": [
          "catalogProductRepositoryV1"
        ],
        "description": "Get product list",
        "operationId": "catalogProductRepositoryV1GetListGet",
        "parameters": [
          {
            "name": "searchCriteria[filterGroups][][filters][][field]",
            "in": "query",
            "type": "string",
            "description": "Field"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][value]",
            "in": "query",
            "type": "string",
            "description": "Value"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][conditionType]",
            "in": "query",
            "type": "string",
            "description": "Condition type"
          },
          {
            "name": "searchCriteria[sortOrders][][field]",
            "in": "query",
            "type": "string",
            "description": "Sorting field."
          },
          {
            "name": "searchCriteria[sortOrders][][direction]",
            "in": "query",
            "type": "string",
            "description": "Sorting direction."
          },
          {
            "name": "searchCriteria[pageSize]",
            "in": "query",
            "type": "integer",
            "description": "Page size."
          },
          {
            "name": "searchCriteria[currentPage]",
            "in": "query",
            "type": "integer",
            "description": "Current page."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-data-product-search-results-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/{sku}": {
      "get": {
        "tags": [
          "catalogProductRepositoryV1"
        ],
        "description": "Get info about product by product SKU",
        "operationId": "catalogProductRepositoryV1GetGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "editMode",
            "in": "query",
            "type": "boolean",
            "required": false
          },
          {
            "name": "storeId",
            "in": "query",
            "type": "integer",
            "required": false
          },
          {
            "name": "forceReload",
            "in": "query",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-data-product-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/attributes/{attributeCode}": {
      "get": {
        "tags": [
          "catalogProductAttributeRepositoryV1"
        ],
        "description": "Retrieve specific attribute",
        "operationId": "catalogProductAttributeRepositoryV1GetGet",
        "parameters": [
          {
            "name": "attributeCode",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-data-product-attribute-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/types": {
      "get": {
        "tags": [
          "catalogProductTypeListV1"
        ],
        "description": "Retrieve available product types",
        "operationId": "catalogProductTypeListV1GetProductTypesGet",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-type-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/attribute-sets/sets/list": {
      "get": {
        "tags": [
          "catalogAttributeSetRepositoryV1"
        ],
        "description": "Retrieve list of Attribute Sets",
        "operationId": "catalogAttributeSetRepositoryV1GetListGet",
        "parameters": [
          {
            "name": "searchCriteria[filterGroups][][filters][][field]",
            "in": "query",
            "type": "string",
            "description": "Field"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][value]",
            "in": "query",
            "type": "string",
            "description": "Value"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][conditionType]",
            "in": "query",
            "type": "string",
            "description": "Condition type"
          },
          {
            "name": "searchCriteria[sortOrders][][field]",
            "in": "query",
            "type": "string",
            "description": "Sorting field."
          },
          {
            "name": "searchCriteria[sortOrders][][direction]",
            "in": "query",
            "type": "string",
            "description": "Sorting direction."
          },
          {
            "name": "searchCriteria[pageSize]",
            "in": "query",
            "type": "integer",
            "description": "Page size."
          },
          {
            "name": "searchCriteria[currentPage]",
            "in": "query",
            "type": "integer",
            "description": "Current page."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/eav-data-attribute-set-search-results-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/attribute-sets/{attributeSetId}": {
      "get": {
        "tags": [
          "catalogAttributeSetRepositoryV1"
        ],
        "description": "Retrieve attribute set information based on given ID",
        "operationId": "catalogAttributeSetRepositoryV1GetGet",
        "parameters": [
          {
            "name": "attributeSetId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/eav-data-attribute-set-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/attribute-sets/{attributeSetId}/attributes": {
      "get": {
        "tags": [
          "catalogProductAttributeManagementV1"
        ],
        "description": "Retrieve related attributes based on given attribute set ID",
        "operationId": "catalogProductAttributeManagementV1GetAttributesGet",
        "parameters": [
          {
            "name": "attributeSetId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-attribute-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/attribute-sets/groups/list": {
      "get": {
        "tags": [
          "catalogProductAttributeGroupRepositoryV1"
        ],
        "description": "Retrieve list of attribute groups",
        "operationId": "catalogProductAttributeGroupRepositoryV1GetListGet",
        "parameters": [
          {
            "name": "searchCriteria[filterGroups][][filters][][field]",
            "in": "query",
            "type": "string",
            "description": "Field"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][value]",
            "in": "query",
            "type": "string",
            "description": "Value"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][conditionType]",
            "in": "query",
            "type": "string",
            "description": "Condition type"
          },
          {
            "name": "searchCriteria[sortOrders][][field]",
            "in": "query",
            "type": "string",
            "description": "Sorting field."
          },
          {
            "name": "searchCriteria[sortOrders][][direction]",
            "in": "query",
            "type": "string",
            "description": "Sorting direction."
          },
          {
            "name": "searchCriteria[pageSize]",
            "in": "query",
            "type": "integer",
            "description": "Page size."
          },
          {
            "name": "searchCriteria[currentPage]",
            "in": "query",
            "type": "integer",
            "description": "Current page."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/eav-data-attribute-group-search-results-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/attributes/{attributeCode}/options": {
      "get": {
        "tags": [
          "catalogProductAttributeOptionManagementV1"
        ],
        "description": "Retrieve list of attribute options",
        "operationId": "catalogProductAttributeOptionManagementV1GetItemsGet",
        "parameters": [
          {
            "name": "attributeCode",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/eav-data-attribute-option-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/media/types/{attributeSetName}": {
      "get": {
        "tags": [
          "catalogProductMediaAttributeManagementV1"
        ],
        "description": "Retrieve the list of media attributes (fronted input type is media_image) assigned to the given attribute set.",
        "operationId": "catalogProductMediaAttributeManagementV1GetListGet",
        "parameters": [
          {
            "name": "attributeSetName",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "description": "list of media attributes",
              "items": {
                "$ref": "#/definitions/catalog-data-product-attribute-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/{sku}/media/{entryId}": {
      "get": {
        "tags": [
          "catalogProductAttributeMediaGalleryManagementV1"
        ],
        "description": "Return information about gallery entry",
        "operationId": "catalogProductAttributeMediaGalleryManagementV1GetGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "entryId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-data-product-attribute-media-gallery-entry-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/{sku}/media": {
      "get": {
        "tags": [
          "catalogProductAttributeMediaGalleryManagementV1"
        ],
        "description": "Retrieve the list of gallery entries associated with given product",
        "operationId": "catalogProductAttributeMediaGalleryManagementV1GetListGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-attribute-media-gallery-entry-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/{sku}/group-prices/{customerGroupId}/tiers": {
      "get": {
        "tags": [
          "catalogProductTierPriceManagementV1"
        ],
        "description": "Get tier price of product",
        "operationId": "catalogProductTierPriceManagementV1GetListGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "customerGroupId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "'all' can be used to specify 'ALL GROUPS'"
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-tier-price-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/categories/{categoryId}": {
      "get": {
        "tags": [
          "catalogCategoryRepositoryV1"
        ],
        "description": "Get info about category by category id",
        "operationId": "catalogCategoryRepositoryV1GetGet",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "type": "integer",
            "required": true
          },
          {
            "name": "storeId",
            "in": "query",
            "type": "integer",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-data-category-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/categories": {
      "get": {
        "tags": [
          "catalogCategoryManagementV1"
        ],
        "description": "Retrieve list of categories",
        "operationId": "catalogCategoryManagementV1GetTreeGet",
        "parameters": [
          {
            "name": "rootCategoryId",
            "in": "query",
            "type": "integer",
            "required": false
          },
          {
            "name": "depth",
            "in": "query",
            "type": "integer",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-data-category-tree-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/{sku}/options": {
      "get": {
        "tags": [
          "catalogProductCustomOptionRepositoryV1"
        ],
        "description": "Get the list of custom options for a specific product",
        "operationId": "catalogProductCustomOptionRepositoryV1GetListGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-custom-option-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/{sku}/options/{optionId}": {
      "get": {
        "tags": [
          "catalogProductCustomOptionRepositoryV1"
        ],
        "description": "Get custom option for a specific product",
        "operationId": "catalogProductCustomOptionRepositoryV1GetGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "optionId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-data-product-custom-option-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/links/types": {
      "get": {
        "tags": [
          "catalogProductLinkTypeListV1"
        ],
        "description": "Retrieve information about available product link types",
        "operationId": "catalogProductLinkTypeListV1GetItemsGet",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-link-type-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/links/{type}/attributes": {
      "get": {
        "tags": [
          "catalogProductLinkTypeListV1"
        ],
        "description": "Provide a list of the product link type attributes",
        "operationId": "catalogProductLinkTypeListV1GetItemAttributesGet",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-link-attribute-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/products/{sku}/links/{type}": {
      "get": {
        "tags": [
          "catalogProductLinkManagementV1"
        ],
        "description": "Provide the list of links for a specific product",
        "operationId": "catalogProductLinkManagementV1GetLinkedItemsByTypeGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "type",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-link-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/categories/{categoryId}/products": {
      "get": {
        "tags": [
          "catalogCategoryLinkManagementV1"
        ],
        "description": "Get products assigned to category",
        "operationId": "catalogCategoryLinkManagementV1GetAssignedProductsGet",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-category-product-link-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/stockStatuses/{productSku}": {
      "get": {
        "tags": [
          "catalogInventoryStockRegistryV1"
        ],
        "description": "",
        "operationId": "catalogInventoryStockRegistryV1GetStockStatusBySkuGet",
        "parameters": [
          {
            "name": "productSku",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "scopeId",
            "in": "query",
            "type": "integer",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/catalog-inventory-data-stock-status-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/search": {
      "get": {
        "tags": [
          "searchV1"
        ],
        "description": "Make Full Text Search and return found Documents",
        "operationId": "searchV1SearchGet",
        "parameters": [
          {
            "name": "searchCriteria[requestName]",
            "in": "query",
            "type": "string"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][field]",
            "in": "query",
            "type": "string",
            "description": "Field"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][value]",
            "in": "query",
            "type": "string",
            "description": "Value"
          },
          {
            "name": "searchCriteria[filterGroups][][filters][][conditionType]",
            "in": "query",
            "type": "string",
            "description": "Condition type"
          },
          {
            "name": "searchCriteria[sortOrders][][field]",
            "in": "query",
            "type": "string",
            "description": "Sorting field."
          },
          {
            "name": "searchCriteria[sortOrders][][direction]",
            "in": "query",
            "type": "string",
            "description": "Sorting direction."
          },
          {
            "name": "searchCriteria[pageSize]",
            "in": "query",
            "type": "integer",
            "description": "Page size."
          },
          {
            "name": "searchCriteria[currentPage]",
            "in": "query",
            "type": "integer",
            "description": "Current page."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/framework-search-search-result-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}": {
      "get": {
        "tags": [
          "quoteGuestCartRepositoryV1"
        ],
        "description": "Enable a guest user to return information for a specified cart.",
        "operationId": "quoteGuestCartRepositoryV1GetGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-cart-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts": {
      "post": {
        "tags": [
          "quoteGuestCartManagementV1"
        ],
        "description": "Enable an customer or guest user to create an empty cart and quote for an anonymous customer.",
        "operationId": "quoteGuestCartManagementV1CreateEmptyCartPost",
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "string",
              "description": "Cart ID."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/order": {
      "put": {
        "tags": [
          "quoteGuestCartManagementV1"
        ],
        "description": "Place an order for a specified cart.",
        "operationId": "quoteGuestCartManagementV1PlaceOrderPut",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "properties": {
                "paymentMethod": {
                  "$ref": "#/definitions/quote-data-payment-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "integer",
              "description": "Order ID."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/shipping-methods": {
      "get": {
        "tags": [
          "quoteGuestShippingMethodManagementV1"
        ],
        "description": "List applicable shipping methods for a specified quote.",
        "operationId": "quoteGuestShippingMethodManagementV1GetListGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The shopping cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "description": "An array of shipping methods.",
              "items": {
                "$ref": "#/definitions/quote-data-shipping-method-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/estimate-shipping-methods": {
      "post": {
        "tags": [
          "quoteGuestShipmentEstimationV1"
        ],
        "description": "Estimate shipping by address and return list of available shipping methods",
        "operationId": "quoteGuestShipmentEstimationV1EstimateByExtendedAddressPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "address"
              ],
              "properties": {
                "address": {
                  "$ref": "#/definitions/quote-data-address-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "description": "An array of shipping methods",
              "items": {
                "$ref": "#/definitions/quote-data-shipping-method-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/items": {
      "get": {
        "tags": [
          "quoteGuestCartItemRepositoryV1"
        ],
        "description": "List items that are assigned to a specified cart.",
        "operationId": "quoteGuestCartItemRepositoryV1GetListGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "description": "Array of items.",
              "items": {
                "$ref": "#/definitions/quote-data-cart-item-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "quoteGuestCartItemRepositoryV1"
        ],
        "description": "Add the specified item to the specified cart.",
        "operationId": "quoteGuestCartItemRepositoryV1SavePost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "cartItem"
              ],
              "properties": {
                "cartItem": {
                  "$ref": "#/definitions/quote-data-cart-item-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-cart-item-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/items/{itemId}": {
      "put": {
        "tags": [
          "quoteGuestCartItemRepositoryV1"
        ],
        "description": "Add the specified item to the specified cart.",
        "operationId": "quoteGuestCartItemRepositoryV1SavePut",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "itemId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "cartItem"
              ],
              "properties": {
                "cartItem": {
                  "$ref": "#/definitions/quote-data-cart-item-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-cart-item-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "quoteGuestCartItemRepositoryV1"
        ],
        "description": "Remove the specified item from the specified cart.",
        "operationId": "quoteGuestCartItemRepositoryV1DeleteByIdDelete",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "itemId",
            "in": "path",
            "type": "integer",
            "required": true,
            "description": "The item ID of the item to be removed."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/selected-payment-method": {
      "get": {
        "tags": [
          "quoteGuestPaymentMethodManagementV1"
        ],
        "description": "Return the payment method for a specified shopping cart.",
        "operationId": "quoteGuestPaymentMethodManagementV1GetGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-payment-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "quoteGuestPaymentMethodManagementV1"
        ],
        "description": "Add a specified payment method to a specified shopping cart.",
        "operationId": "quoteGuestPaymentMethodManagementV1SetPut",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "method"
              ],
              "properties": {
                "method": {
                  "$ref": "#/definitions/quote-data-payment-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "integer",
              "description": "Payment method ID."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/payment-methods": {
      "get": {
        "tags": [
          "quoteGuestPaymentMethodManagementV1"
        ],
        "description": "List available payment methods for a specified shopping cart. This call returns an array of objects, but detailed information about each object\u2019s attributes might not be included.  See http://devdocs.magento.com/codelinks/attributes.html#GuestPaymentMethodManagementInterface to determine which call to use to get detailed information about all attributes for an object.",
        "operationId": "quoteGuestPaymentMethodManagementV1GetListGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "description": "Array of payment methods.",
              "items": {
                "$ref": "#/definitions/quote-data-payment-method-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/billing-address": {
      "get": {
        "tags": [
          "quoteGuestBillingAddressManagementV1"
        ],
        "description": "Return the billing address for a specified quote.",
        "operationId": "quoteGuestBillingAddressManagementV1GetGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-address-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "quoteGuestBillingAddressManagementV1"
        ],
        "description": "Assign a specified billing address to a specified cart.",
        "operationId": "quoteGuestBillingAddressManagementV1AssignPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "address"
              ],
              "properties": {
                "address": {
                  "$ref": "#/definitions/quote-data-address-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "integer",
              "description": "Address ID."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/coupons": {
      "get": {
        "tags": [
          "quoteGuestCouponManagementV1"
        ],
        "description": "Return information for a coupon in a specified cart.",
        "operationId": "quoteGuestCouponManagementV1GetGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "string",
              "description": "The coupon code data."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "quoteGuestCouponManagementV1"
        ],
        "description": "Delete a coupon from a specified cart.",
        "operationId": "quoteGuestCouponManagementV1RemoveDelete",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/coupons/{couponCode}": {
      "put": {
        "tags": [
          "quoteGuestCouponManagementV1"
        ],
        "description": "Add a coupon by code to a specified cart.",
        "operationId": "quoteGuestCouponManagementV1SetPut",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "couponCode",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The coupon code data."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/collect-totals": {
      "put": {
        "tags": [
          "quoteGuestCartTotalManagementV1"
        ],
        "description": "Set shipping/billing methods and additional data for cart and collect totals for guest.",
        "operationId": "quoteGuestCartTotalManagementV1CollectTotalsPut",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "paymentMethod"
              ],
              "properties": {
                "paymentMethod": {
                  "$ref": "#/definitions/quote-data-payment-interface"
                },
                "shippingCarrierCode": {
                  "type": "string",
                  "description": "The carrier code."
                },
                "shippingMethodCode": {
                  "type": "string",
                  "description": "The shipping method code."
                },
                "additionalData": {
                  "$ref": "#/definitions/quote-data-totals-additional-data-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-totals-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/totals": {
      "get": {
        "tags": [
          "quoteGuestCartTotalRepositoryV1"
        ],
        "description": "Return quote totals data for a specified cart.",
        "operationId": "quoteGuestCartTotalRepositoryV1GetGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-totals-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/shipping-information": {
      "post": {
        "tags": [
          "checkoutGuestShippingInformationManagementV1"
        ],
        "description": "",
        "operationId": "checkoutGuestShippingInformationManagementV1SaveAddressInformationPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "addressInformation"
              ],
              "properties": {
                "addressInformation": {
                  "$ref": "#/definitions/checkout-data-shipping-information-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/checkout-data-payment-details-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/totals-information": {
      "post": {
        "tags": [
          "checkoutGuestTotalsInformationManagementV1"
        ],
        "description": "Calculate quote totals based on address and shipping method.",
        "operationId": "checkoutGuestTotalsInformationManagementV1CalculatePost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "addressInformation"
              ],
              "properties": {
                "addressInformation": {
                  "$ref": "#/definitions/checkout-data-totals-information-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/quote-data-totals-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/payment-information": {
      "post": {
        "tags": [
          "checkoutGuestPaymentInformationManagementV1"
        ],
        "description": "Set payment information and place order for a specified cart.",
        "operationId": "checkoutGuestPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "email",
                "paymentMethod"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "paymentMethod": {
                  "$ref": "#/definitions/quote-data-payment-interface"
                },
                "billingAddress": {
                  "$ref": "#/definitions/quote-data-address-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "integer",
              "description": "Order ID."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "get": {
        "tags": [
          "checkoutGuestPaymentInformationManagementV1"
        ],
        "description": "Get payment information",
        "operationId": "checkoutGuestPaymentInformationManagementV1GetPaymentInformationGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/checkout-data-payment-details-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/set-payment-information": {
      "post": {
        "tags": [
          "checkoutGuestPaymentInformationManagementV1"
        ],
        "description": "Set payment information for a specified cart.",
        "operationId": "checkoutGuestPaymentInformationManagementV1SavePaymentInformationPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "email",
                "paymentMethod"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "paymentMethod": {
                  "$ref": "#/definitions/quote-data-payment-interface"
                },
                "billingAddress": {
                  "$ref": "#/definitions/quote-data-address-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "integer",
              "description": "Order ID."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/configurable-products/{sku}/children": {
      "get": {
        "tags": [
          "configurableProductLinkManagementV1"
        ],
        "description": "Get all children for Configurable product",
        "operationId": "configurableProductLinkManagementV1GetChildrenGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/catalog-data-product-interface"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/configurable-products/{sku}/options/{id}": {
      "get": {
        "tags": [
          "configurableProductOptionRepositoryV1"
        ],
        "description": "Get option for configurable product",
        "operationId": "configurableProductOptionRepositoryV1GetGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/configurable-product-data-option-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/configurable-products/{sku}/options/all": {
      "get": {
        "tags": [
          "configurableProductOptionRepositoryV1"
        ],
        "description": "Get all options for configurable product",
        "operationId": "configurableProductOptionRepositoryV1GetListGet",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/configurable-product-data-option-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/carts/guest-carts/{cartId}/giftCards/{giftCardCode}": {
      "delete": {
        "tags": [
          "giftCardAccountGuestGiftCardAccountManagementV1"
        ],
        "description": "Remove GiftCard Account entity",
        "operationId": "giftCardAccountGuestGiftCardAccountManagementV1DeleteByQuoteIdDelete",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "giftCardCode",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/carts/guest-carts/{cartId}/giftCards": {
      "post": {
        "tags": [
          "giftCardAccountGuestGiftCardAccountManagementV1"
        ],
        "description": "",
        "operationId": "giftCardAccountGuestGiftCardAccountManagementV1AddGiftCardPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "giftCardAccountData"
              ],
              "properties": {
                "giftCardAccountData": {
                  "$ref": "#/definitions/gift-card-account-data-gift-card-account-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}": {
      "get": {
        "tags": [
          "giftCardAccountGuestGiftCardAccountManagementV1"
        ],
        "description": "",
        "operationId": "giftCardAccountGuestGiftCardAccountManagementV1CheckGiftCardGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "giftCardCode",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "number"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-giftregistry/{cartId}/estimate-shipping-methods": {
      "post": {
        "tags": [
          "giftRegistryGuestCartShippingMethodManagementV1"
        ],
        "description": "Estimate shipping",
        "operationId": "giftRegistryGuestCartShippingMethodManagementV1EstimateByRegistryIdPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The shopping cart ID."
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "registryId"
              ],
              "properties": {
                "registryId": {
                  "type": "integer",
                  "description": "The estimate registry id"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "array",
              "description": "An array of shipping methods.",
              "items": {
                "$ref": "#/definitions/quote-data-shipping-method-interface"
              }
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/gift-message": {
      "get": {
        "tags": [
          "giftMessageGuestCartRepositoryV1"
        ],
        "description": "Return the gift message for a specified order.",
        "operationId": "giftMessageGuestCartRepositoryV1GetGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The shopping cart ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/gift-message-data-message-interface"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "giftMessageGuestCartRepositoryV1"
        ],
        "description": "Set the gift message for an entire order.",
        "operationId": "giftMessageGuestCartRepositoryV1SavePost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "giftMessage"
              ],
              "properties": {
                "giftMessage": {
                  "$ref": "#/definitions/gift-message-data-message-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/guest-carts/{cartId}/gift-message/{itemId}": {
      "get": {
        "tags": [
          "giftMessageGuestItemRepositoryV1"
        ],
        "description": "Return the gift message for a specified item in a specified shopping cart.",
        "operationId": "giftMessageGuestItemRepositoryV1GetGet",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The shopping cart ID."
          },
          {
            "name": "itemId",
            "in": "path",
            "type": "integer",
            "required": true,
            "description": "The item ID."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "$ref": "#/definitions/gift-message-data-message-interface"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "giftMessageGuestItemRepositoryV1"
        ],
        "description": "Set the gift message for a specified item in a specified shopping cart.",
        "operationId": "giftMessageGuestItemRepositoryV1SavePost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The cart ID."
          },
          {
            "name": "itemId",
            "in": "path",
            "type": "integer",
            "required": true,
            "description": "The item ID."
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "giftMessage"
              ],
              "properties": {
                "giftMessage": {
                  "$ref": "#/definitions/gift-message-data-message-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/integration/admin/token": {
      "post": {
        "tags": [
          "integrationAdminTokenServiceV1"
        ],
        "description": "Create access token for admin given the admin credentials.",
        "operationId": "integrationAdminTokenServiceV1CreateAdminAccessTokenPost",
        "parameters": [
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "username",
                "password"
              ],
              "properties": {
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "string",
              "description": "Token created"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "500": {
            "description": "Internal Server error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/integration/customer/token": {
      "post": {
        "tags": [
          "integrationCustomerTokenServiceV1"
        ],
        "description": "Create access token for admin given the customer credentials.",
        "operationId": "integrationCustomerTokenServiceV1CreateCustomerAccessTokenPost",
        "parameters": [
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "username",
                "password"
              ],
              "properties": {
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "string",
              "description": "Token created"
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    },
    "/V1/worldpay-guest-carts/{cartId}/payment-information": {
      "post": {
        "tags": [
          "worldpayGuestPaymentInformationManagementProxyV1"
        ],
        "description": "Proxy handler for guest place order",
        "operationId": "worldpayGuestPaymentInformationManagementProxyV1SavePaymentInformationAndPlaceOrderPost",
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "$body",
            "in": "body",
            "schema": {
              "required": [
                "email",
                "paymentMethod"
              ],
              "properties": {
                "email": {
                  "type": "string"
                },
                "paymentMethod": {
                  "$ref": "#/definitions/quote-data-payment-interface"
                },
                "billingAddress": {
                  "$ref": "#/definitions/quote-data-address-interface"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Success.",
            "schema": {
              "type": "integer",
              "description": "Order ID."
            }
          },
          "400": {
            "description": "400 Bad Request",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/error-response"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "error-response": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "errors": {
          "$ref": "#/definitions/error-errors"
        },
        "code": {
          "type": "integer",
          "description": "Error code"
        },
        "parameters": {
          "$ref": "#/definitions/error-parameters"
        },
        "trace": {
          "type": "string",
          "description": "Stack trace"
        }
      },
      "required": [
        "message"
      ]
    },
    "error-errors": {
      "type": "array",
      "description": "Errors list",
      "items": {
        "$ref": "#/definitions/error-errors-item"
      }
    },
    "error-errors-item": {
      "type": "object",
      "description": "Error details",
      "properties": {
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "parameters": {
          "$ref": "#/definitions/error-parameters"
        }
      }
    },
    "error-parameters": {
      "type": "array",
      "description": "Error parameters list",
      "items": {
        "$ref": "#/definitions/error-parameters-item"
      }
    },
    "error-parameters-item": {
      "type": "object",
      "description": "Error parameters item",
      "properties": {
        "resources": {
          "type": "string",
          "description": "ACL resource"
        },
        "fieldName": {
          "type": "string",
          "description": "Missing or invalid field name"
        },
        "fieldValue": {
          "type": "string",
          "description": "Incorrect field value"
        }
      }
    },
    "store-data-store-interface": {
      "type": "object",
      "description": "Store interface",
      "properties": {
        "id": {
          "type": "integer"
        },
        "code": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Store name"
        },
        "website_id": {
          "type": "integer"
        },
        "store_group_id": {
          "type": "integer"
        },
        "extension_attributes": {
          "$ref": "#/definitions/store-data-store-extension-interface"
        }
      },
      "required": [
        "id",
        "code",
        "name",
        "website_id",
        "store_group_id"
      ]
    },
    "store-data-store-extension-interface": {
      "type": "object",
      "description": "ExtensionInterface class for @see \\Magento\\Store\\Api\\Data\\StoreInterface"
    },
    "store-data-group-interface": {
      "type": "object",
      "description": "Group interface",
      "properties": {
        "id": {
          "type": "integer"
        },
        "website_id": {
          "type": "integer"
        },
        "root_category_id": {
          "type": "integer"
        },
        "default_store_id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "extension_attributes": {
          "$ref": "#/definitions/store-data-group-extension-interface"
        }
      },
      "required": [
        "id",
        "website_id",
        "root_category_id",
        "default_store_id",
        "name"
      ]
    },
    "store-data-group-extension-interface": {
      "type": "object",
[...]
